body {
    background-color: #222222;
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
    align-items: center;
}

.clock {
    font-family: 'Courier New', Courier, monospace;
    background-image: radial-gradient(circle at center, #696969, #000000);
    width: 50vh;
    height: 50vh;
    border-radius: 100%;
    align-self: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hand {
    align-self: center;
    position: absolute;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform-origin: top center;
    transform: rotate(-180deg);
}

.hour {
    width: 2%;
    height: 25%;
    border-radius: 10px;
}

.minute {
    width: 1.5%;
    height: 35%;
    border-radius: 10px;
}

.second {
    width: 0.4%;
    height: 45%;
    border-radius: 10px;
    /* transform: rotate(50deg); */
}

.opacity-0 {
    /* display: none !important; */
    opacity: 0;
}

.hidden {
    display: none !important;
}


.settings {
    position: absolute;
    right: 10px;
    top: 20px;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    z-index: 10;
    max-width: 90vw;
    height: auto;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    border-color: #ffffff4b;
    border-style: solid;
    border-width: 1px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition-duration: 0.4s;
}

.blur {
    /* width: 250px; */
    /* height: 250px; */
    filter: contrast(180%) brightness(100%);
    background: linear-gradient(0deg, rgba(32,32,32,0.7), rgba(18,12,12,0.53)), url("data:image/svg+xml,%3Csvg viewBox='0 0 223 223' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.89' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}
  

.settings input {
    max-width: 25%;
    border-radius: 10%;
}

.settings h3 {
    text-align: center;
    font-weight: bolder;
}

.settings button {
    text-align: center;
    align-self: center;
    border-radius: 25%;
}

.settings-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
    z-index: 11;
    transition-duration: 0.7s;
}

.active {
    transform: rotate(280deg);
}