body {
    background-color: #222222;
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
    align-items: center;
}

.clock {
    font-family: 'Courier New', Courier, monospace;
    background-image: radial-gradient(circle at center, #696969, #000000);
    width: 50vh;
    height: 50vh;
    border-radius: 100%;
    align-self: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hand {
    align-self: center;
    position: absolute;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform-origin: top center;
    transform: rotate(-180deg);
}

.hour {
    width: 2%;
    height: 25%;
    border-radius: 10px;
}

.minute {
    width: 1.5%;
    height: 35%;
    border-radius: 10px;
}

.second {
    width: 0.4%;
    height: 45%;
    border-radius: 10px;
    /* transform: rotate(50deg); */
}

.hidden {
    display: none !important;
}


.settings {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    z-index: 10;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.settings input {
    max-width: 25%;
    border-radius: 10%;
}

.settings h3 {
    text-align: center;
    font-weight: bolder;
}

.settings button {
    text-align: center;
    align-self: center;
    border-radius: 25%;
}